.cabecalho_menu_hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}
.container_imagem {
    padding: 1em;
}
/* Criando um menu responsivo */
/* Esconde Menu*/
.lista_menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* Mostra o Menu */
/* o ~ é o condicionador responsavel por mostrar a .lista_menu que estava oculta */
.container_botao:checked ~ .lista_menu {
    display: block;
}

.lista_menu_titulo, .lista_menu_item {
padding: 1em;
background-color: var(--branco);
}

.lista_menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}
.lista_menu_link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container_botao, .container_titulo, .opcoes{
    display: none;

}

/* Responsividade para o Tablet */
@media screen and (min-width: 750px){

    .container{
        gap: 1em;
    }
    .container_titulo, .container_titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container_titulo{
        display: block;
        font-weight: 400;
    }
    .container_titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }
    .opcoes_item{
        padding: 0 1em;
    }

    .opcoes_link{
        text-decoration: none;
        color: var(--preto);
    }

    .container_imagem_transparente, .cabecalho_menu_hamburguer{
        display: none;
    }

    .opcoes_botao:checked ~ .lista_menu{
        display:block;
        width: auto;
    }

    .opcoes_botao{
        display: none;
    }
    
}