hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;

}

.lista_rodape{
    display: none;
}



@media screen and (min-width: 1024px) {
    .lista_rodape{
        display:block;
    }

    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .lista_rodape_item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista_rodape_link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.5em;
    }

    .lista_rodape_titulo{
        font-size: 14px;
        color: var(--cinza-claro);
        margin: 0.5em 0;
    }

    .rodape_titulo{
        font-size: 24px;
    }
        
}